<div class="col-8">
  <div class="col-4">
    <ng-container *ngIf="!isGameOver; else gameOver">
      <p>Score: {{ score }}</p>
      <play-again-button buttonText="Restart" (buttonClickEvent)="playAgain()"></play-again-button>
    </ng-container>
  </div>
  <mat-grid-list [cols]="boardWidth">
    <mat-grid-tile
      *ngFor="let grid of boardHeightArr; let i = index"
      [style.background-color]="getGridColor(i)"
    ></mat-grid-tile>
  </mat-grid-list>
</div>

<ng-template #gameOver>
  <p>Game over! Your score is {{ score }}</p>
  <play-again-button (buttonClickEvent)="playAgain()"></play-again-button>
</ng-template>